<div class="container">
<div class="input-form">

<div class="table">
  <div *ngIf="descriptions != null && items != null && items.items['CONTEXT_SIZE']">
    <div><mat-label>Distributed project</mat-label></div>
    <div class="center"><mat-slide-toggle></mat-slide-toggle></div>
  </div>
  <div>
    <div><mat-label>Project team size</mat-label></div>
    <div><mat-slider *ngIf="descriptions != null" min="-1" max="5" step="1" value="1" thumbLabel tickInterval="1" [displayWith]="sliderDisplayWith('CONTEXT_SIZE_')"></mat-slider></div>
  </div>
  <div *ngIf="descriptions != null && items != null && items.items['CONTEXT_DEV']">
    <div><mat-label>Development paradigm</mat-label></div>
    <div>
      <mat-select *ngIf="descriptions != null && items != null">
        <mat-option value="">Unknown</mat-option>
        <mat-option *ngFor="let it of items.items['CONTEXT_DEV']" [value]="it">
          {{ descriptions[it] }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div *ngIf="descriptions != null && items != null && items.items['CONTEXT_SYSTEM']">
    <div><mat-label>System type</mat-label></div>
    <div>
      <mat-select>
        <mat-option value="">Unknown</mat-option>
        <mat-option *ngFor="let it of items.items['CONTEXT_SYSTEM']" [value]="it">
          {{ descriptions[it] }}
        </mat-option>
      </mat-select>
    </div>
  </div>
</div>

</div>
</div>
