.evidence_drop li, .connectivity_drop li {
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: lightgrey;
}

#setup table {
    width: 100%;
}

#desc-button {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

h1, h2, #loading_indicator {
    width: 100%;
    text-align: center;
}

.settings_container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.settings_row {
    display: table-row;
}

.settings_cell {
    display: table-cell;
    padding-left: 15px;
    padding-bottom: 15px;
}

.settings_cell input {
    width: 150px;
}

.settings_cell select {
    width: 150px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

@media(min-width: 1200px)  {
    img {
        max-width: calc(100% - 700px);
    }
}

tr, td {
    vertical-align: top;
    height: 100%;
}

.evidence_drop, .connectivity_drop {
    display: block;
    min-height: 50px;
    min-width: 200px;
    cursor: grab;
    list-style-type: none;
    padding: 5px;
    height: 100%;
    margin: 0px;
}

.ui-sortable-helper {
    cursor: grabbing
}

#codes table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

th {
    text-align: left;
    padding-left: 15px;
}

.codes-code {
    width: 200px;
}

.codes-description {
    width: 400px;
}

#connectivity_edgesweight, #connectivity_nodesweight {
    width: 100px;
}

.min_weight {
    display: block;
    margin-top: 5px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 1200px)  {
    #setup {
        float: left;
        width: 600px;
    }

    #setup h1 {
        margin-top: -0px;
    }
}
