.evidence_drop li, .connectivity_drop li {
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: lightgrey;
}

#setup table {
    width: 100%;
}

button {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

h1, h2, #loading_indicator, #validation_indicator, #description {
    width: 100%;
    text-align: center;
}

.settings_container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.settings_row {
    display: table-row;
}

.settings_cell {
    display: table-cell;
    padding-left: 15px;
    padding-bottom: 15px;
}

input {
    box-sizing: border-box;
}

.settings_cell input {
    width: 225px;
}

.settings_cell select {
    width: 225px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

tr, td {
    vertical-align: top;
    height: 100%;
}

.evidence_drop, .connectivity_drop {
    display: block;
    min-height: 50px;
    cursor: grab;
    list-style-type: none;
    padding: 5px;
    margin: 0px;
}

.evidence_drop li {
    width: 190px;
}

table .evidence_drop {
    width: 190px;
    padding-right: 0px;
}

#evidence_unknown {
    columns: 3;
}

#metrics {
    display: block;
    width: 600px;
    columns: 2;
    margin-left: auto;
    margin-right: auto;
}

.ui-sortable-helper {
    cursor: grabbing
}

#codes table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

th {
    text-align: left;
    padding-left: 15px;
}

.codes-code {
    width: 200px;
}

.codes-description {
    width: 400px;
}

#connectivity_edgesweight, #connectivity_nodesweight, #connectivity_nodesnumber {
    width: 100px;
}

#output_validation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.min_weight {
    display: block;
    margin-top: 5px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    color: black;
}

