#setup table {
    width: 100%;
}

.centered_button {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.button_container {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.button_container button {
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
}

h1, h2, #loading_indicator, #validation_indicator, #description {
    width: 100%;
    text-align: center;
}


th {
    text-align: left;
    padding-left: 15px;
}

.settings_container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.settings_row {
    display: table-row;
}

.settings_cell {
    display: table-cell;
    padding-left: 15px;
    padding-bottom: 15px;
}

input {
    box-sizing: border-box;
}

.settings_cell input {
    width: 225px;
}

.settings_cell select {
    width: 225px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

tr, td {
    vertical-align: top;
    height: 100%;
}

.ui-sortable-helper {
    cursor: grabbing
}

.hint {
    text-align: center;
    width: 100%;
}

#output_validation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
